Repository MonashDeepNeuron/HPC-Training, pull requests merged in 2023-04, with the labels that each got.

#16 Chapter/distributed computing completed
  src/SUMMARY.md
  src/chapter5/challenges.md
  src/chapter5/chapter5.md
  src/chapter5/distributed-computing.md
  src/chapter5/distrubuted-computing.md
  src/chapter5/message-passing.md
  src/chapter5/openmpi.md
  src/chapter5/parallel-refresher.md
  src/imgs/data_parallelism.jpg
  src/imgs/distributed_memory_architecture.png
  src/imgs/distributed_memory_architecture_2.png
  src/imgs/distributed_vs_shared.png
  src/imgs/htop.png
  src/imgs/memory_architectures.jpg
  src/imgs/mpi_datatypes.png
  src/imgs/mpi_routines.png
  src/imgs/parallel_computing_arrays_eg.png
  src/imgs/parallel_scalability.jpg
  src/imgs/ping_pong.png
  src/imgs/task_parallelism.jpg
  src/imgs/time.png
Labels: enhancement

#31 C Challenges Revisions
  src/chapter1/challenges.md
  src/chapter1/github.md
  src/chapter2/challenges.md
Labels: documentation, enhancement, C Chapter, Getting Started Chapter

#32 HPC Training Book - v1.1.0
  src/chapter1/challenges.md
  src/chapter1/github.md
  src/chapter2/challenges.md
  src/chapter4/multithreading.md
  src/version.md
Labels: documentation, enhancement, C Chapter, Getting Started Chapter

#36 Updated M3 content
  src/chapter3/imgs/filezilla_connect_m3.png
  src/chapter3/imgs/filezilla_sitemanager.png
  src/chapter3/login.md
  src/chapter3/shared-fs.md
  src/chapter3/software-tooling.md
  src/chapter3/start.md
Labels: enhancement

#37 Link Upstream Challenges Template
  src/chapter1/challenges.md
Labels: documentation, enhancement, Getting Started Chapter

#38 HPC Training Book v1.1.1 - Challenge Repo Linking
  src/chapter1/challenges.md
Labels: documentation, enhancement, Getting Started Chapter

#42 C challenge 8 rewording
  src/chapter2/challenges.md
Labels: documentation, enhancement, Getting Started Chapter

#43 Details on C's `static` keyword
  src/chapter1/challenges.md
  src/chapter2/vars.md
Labels: documentation, enhancement, C Chapter

#44 HPC Training Book v1.1.2 - Minor Additions and Typo Fixes
  src/chapter1/challenges.md
  src/chapter2/challenges.md
  src/chapter2/vars.md
Labels: documentation, enhancement, C Chapter, Getting Started Chapter

#45 Added new automatic version updater
  src/version.md
Labels: enhancement

#46 Fixed version tag
  src/home.md
  src/version.md
Labels: enhancement
