Repository MonashDeepNeuron/HPC-Training, pull requests merged in 2023-05, with the labels that each got.

#52 Revert "M3 Expansion"
  .DS_Store
  .gitignore
  src/.DS_Store
  src/SUMMARY.md
  src/chapter3/.DS_Store
  src/chapter3/challenges.md
  src/chapter3/imgs/aaf_strudel.png
  src/chapter3/imgs/auth_strudel.png
  src/chapter3/imgs/strudel1.png
  src/chapter3/imgs/strudel2.png
  src/chapter3/imgs/strudel_home.png
  src/chapter3/software-tooling.md
  src/chapter3/start.md
  src/chapter3/strudel.md
Labels: enhancement, M3 Chapter

#53 M3 Expansion [2]
  .DS_Store
  .gitignore
  src/SUMMARY.md
  src/chapter3/.DS_Store
  src/chapter3/challenges.md
  src/chapter3/imgs/aaf_strudel.png
  src/chapter3/imgs/auth_strudel.png
  src/chapter3/imgs/strudel1.png
  src/chapter3/imgs/strudel2.png
  src/chapter3/imgs/strudel_home.png
  src/chapter3/software-tooling.md
  src/chapter3/start.md
  src/chapter3/strudel.md
Labels: documentation, enhancement, M3 Chapter

#54 HPC Training Book v1.2.1 - Update to M3 and Parallel Computing Chapters
  .gitignore
  src/chapter4/challenges.md
Labels: documentation, enhancement, Parallel Computing Chapter, M3 Chapter

#55 M3 Expansion
  src/chapter3/challenges.md
  src/chapter3/imgs/aaf_strudel.png
  src/chapter3/imgs/auth_strudel.png
  src/chapter3/imgs/strudel1.png
  src/chapter3/imgs/strudel2.png
  src/chapter3/imgs/strudel_home.png
  src/chapter3/software-tooling.md
  src/chapter3/start.md
  src/chapter3/strudel.md
Labels: enhancement, M3 Chapter

#56 HPC Training Book v1.2.1 - Fix to M3 Chapters
  src/chapter3/challenges.md
  src/chapter3/imgs/aaf_strudel.png
  src/chapter3/imgs/auth_strudel.png
  src/chapter3/imgs/strudel1.png
  src/chapter3/imgs/strudel2.png
  src/chapter3/imgs/strudel_home.png
  src/chapter3/software-tooling.md
  src/chapter3/start.md
  src/chapter3/strudel.md
Labels: enhancement, M3 Chapter

#57 M3 fix
  src/SUMMARY.md
Labels: enhancement, M3 Chapter

#58 HPC Training Book v1.2.2 - M3 Chapter Patch Fix
  src/SUMMARY.md
Labels: enhancement, M3 Chapter

#59 Fixed README
  README.md
Labels: documentation, enhancement

#60 Updated parallel challenges
  src/chapter4/challenges.md
Labels: enhancement, Parallel Computing Chapter, Challenges Repository

#61 Added CI badge to README
  README.md
Labels: documentation, enhancement

#62 Added note on cloning challenges repo
  src/chapter4/challenges.md
Labels: enhancement, Parallel Computing Chapter, Challenges Repository

#64 Distributed computing challenges rework
  src/SUMMARY.md
  src/chapter5/challenges.md
Labels: documentation, enhancement, Distributed Computing Chapter, Challenges Repository
